<main class="main">
    <form>
        <input type="text" placeholder="Nombre" id="">
        <input type="text" placeholder="Apellido" id="">
        <input type="text" placeholder="Email" id="">
        <input type="text" placeholder="URL" id="">
        <input type="password" placeholder="Password" id="">
        <input type="password" placeholder="Password" id="">

        <div class="form_buttons">
            <button type="button">Registrarse</button>
            <button type="reset">Cancelar</button>
        </div>
    </form>
</main>