<main class="card">
    <h1>Regístrate</h1>

    <form>
        <div class="inputs">
            <input type="text" placeholder="Nombre" #nombre>
            <input type="text" placeholder="Apellidos" #apelldos>
            <input type="text" placeholder="Email" #correo>
            <input type="text" placeholder="Imagen" #photo>
            <input type="password" placeholder="Password" #password1>
            <input type="password" placeholder="Password" #password2>
        </div>
            
        <div class="form_buttons">
            <button type="button" (click)="register(nombre, apelldos, correo, photo, password1, password2)">Registrarse</button>
            <button type="reset">Cancelar</button>
        </div>
    </form>
</main>