<main class="page">

    <div class="content">
        <form class="card form">
            <input type="text" placeholder="ID Libro" #idLibro>
            <input type="text" placeholder="ID Usuario" #idUsuario>
            <input type="text" placeholder="Título" #titulo>
            <input type="text" placeholder="Tipo de libro" #tipo>
            <input type="text" placeholder="Autor" #autor>
            <input type="text" placeholder="Precio" #precio>
            <input type="text" placeholder="Foto" #foto>
    
            <div class="buttons">
                <button type="button" (click)="addLibro(idLibro, idUsuario, titulo, tipo, autor, precio, foto)">Crear libro</button>
                <button type="reset">Cancelar</button>
            </div>
        </form>
        
         <div class="libros-wrapper"> <!--NECESARIO PARA EL SCROLL -->

            <div class="libros">

                <ng-container *ngIf="libros.length === 0">

                    <h1 class="no-books">No hay libros</h1>
                </ng-container>

                <ng-container *ngFor="let libro of libros; let even = even">
                    
                    <div class="card card-libro">

                        <div class="book-data">
                            
                            <div class="image-wrapper">
                                <img src="{{libro.photo}}" alt="{{libro.photo}}">
                            </div>
                        
                            <div class="fields">
                                <input type="text" disabled value="{{libro.titulo}}">
                                <input type="text" disabled value="{{libro.tipo}}">
                                <input type="text" disabled value="{{libro.autor}}">
                                <input type="text" disabled value="{{libro.precio}}">
                            </div>
                            
                        </div>
                        
                        <p class="id" [ngClass]="even ? 'id_style1' : 'id_style2'">
                               ID Usuario: {{libro.id_usuario}}        
                       </p>

                       <p class="id" [ngClass]="even ? 'id_style2' : 'id_style1'">
                        Ref: {{libro.id_libro | referencia}}
                       </p>

                    </div>

                </ng-container>

            </div>

        </div>

        
    </div>
</main>