<main class="page">

    <div class="content">

        <input type="text" class="search" placeholder="Buscar..." (keyup)="buscar(search)" #search>
        
         <div class="libros-wrapper"> <!--NECESARIO PARA EL SCROLL -->
            <div class="libros">

                <ng-container *ngIf="libros.length === 0">
                    <h1 class="no-books">No hay libros</h1>
                </ng-container>

                <ng-container *ngFor="let libro of libros">
                    <app-card-libro [libro]="libro" (onDeleteBook)="test($event)"></app-card-libro>  
                </ng-container>

            </div>
        </div>

        
    </div>
</main>