.content{
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    align-items: center;

    padding: 3%;

    height: 80vh;
}

.search{
    height: 40px;
    width: 40%;

    padding: 1%
}

.libros{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    gap: 50px;

    width: 100%;
    height: 10%;
}

.libros-wrapper{
    
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
    
    width: 95vw;
    height: 75%;

}

.tarjeta-libro{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    border-radius: 10px;

    border-color: rgb(58, 58, 58);

    padding: 2%;
    /* padding-left: 2%; */

    width: 500px;
    height: 500px;
}
.eliminar-wrapper{
    display: flex;
    justify-content: flex-end;

    width: 90%;
}.eliminar{
    display: flex;
    justify-content: center;
    align-items: center;

    border : 1px solid white;
    border-radius: 50%;

    width: 30px;
    height: 30px;

    padding: 5%;
}
.eliminar:active{
    transform: scale(0.8)
}
.book-data{
    display: flex;
    flex-direction: row;

    gap: 5%;
 
    padding-left: 2%;

    /* border: 1px solid green; */
}

.image-wrapper{

    width: 200px;
    height: 200px;

    border-radius: 30% 70% 70% 30% / 30% 38% 62% 70% ;
    border: 1px solid white;

}

.image-wrapper img{
    width: 90%;
}

.fields{
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
}

.form{
    position: fixed;


    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

   height: 70%;
   min-width: 20vw;

}

.form .buttons{
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.no-books{
    display: flex;

    width: 100%;

    justify-content: center;
    align-items: center;
}

.id{
    width: 60%;

    text-align: center;

    margin-top: 2%;
    margin-bottom: 2%;

    padding: 2%;

    border: 1px solid white;
}

.id_style1{
    border-radius: 5px;
}

.id_style2{
    border-radius: 10px;
}
