<main class="main">
    <div class="content">

        <div class="display">

            <div class="image-wrapper">

            </div>

            <div class="profile-data">
                <div class="profile-data__item">
                    <p>Nombre</p>
                    <input type="text" disabled>
                </div>
                
                <div class="profile-data__item">
                    <p>Apellidos</p>
                    <input type="text" disabled>
                </div>
                
                <div class="profile-data__item">
                    <p>Correo</p>
                    <input type="text" disabled>
                </div>

            </div>
        </div>

        <div class="form-wrapper">
            <h1>Editar los datos</h1>
            <form class="form">
                <input type="text" placeholder="Nombre" id="">
                <input type="text" placeholder="Apellidos" id="">
                <input type="text" placeholder="Correo" id="">
                <input type="text" placeholder="Imagen" id="">

                <button type="button">Editar</button>
            </form>
        </div>

    </div>
</main>