<main class="page">
    <div class="content">

        <div class="display card">

            <div class="image-wrapper">
                <img src="{{usuario.imagen}}">
            </div>

            <div class="profile-data">

                <div class="profile-data__item">
                    <p>Nombre</p>
                    <input type="text" value="{{usuario.nombre}}" disabled>
                </div>
                
                <div class="profile-data__item">
                    <p>Apellidos</p>
                    <input type="text" value="{{usuario.apellidos}}" disabled>
                </div>
                
                <div class="profile-data__item">
                    <p>Correo</p>
                    <input type="text" value="{{usuario.correo}}" disabled>
                </div>

            </div>
        </div>

        <div class="form-wrapper card">
            <h1>Editar los datos</h1>
            <form class="form">
                <input type="text" placeholder="Nombre" #nombre>
                <input type="text" placeholder="Apellidos" #apellidos>
                <input type="text" placeholder="Correo" #correo>
                <input type="text" placeholder="Imagen" #imagen>

                <button type="button" on-click="getUser(nombre, apellidos, correo, imagen)">Editar</button>
            </form>
        </div>

    </div>
</main>