.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    color: white;
}

.content{
    margin-top: 1.5%;

    display: flex;
    justify-content: center;

    gap: 7%;

    width: 100%;
    height: 70%;
}
.display{
    gap: 5%
}
.display, .form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 100%;

    backdrop-filter: blur(20px);

    border: 1px solid gray;
    border-radius: 10px;
}
.image-wrapper{
    width: 250px;
    height:250px;

    border-radius: 30% 70% 70% 30% / 30% 38% 62% 70% ;
    border: 1px solid white;

    margin: 3%;
    padding: 2%;
}
.image-wrapper img{
    width: 90%;
}

.profile-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-data__item{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.form-wrapper h1{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20%;
    margin-bottom: 10%;

    width: 100%;
}

input, button{
    width: 45%;
    padding: 3%;
}
button{
    width: 70%;
}