.header{
    position: fixed; 
    top: 0;
    
    width: 100%;
    height: var(--header-height);
    background: var(--background-dark);
    color:white;
    box-sizing: border-box;
}

.nav{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__link-group{
    display: flex;
    align-items: center;
    height: 100%;
}
.nav__title{
    font-size: 200%;
    padding: 5%;
    padding-left:0;
}
.nav__link{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 120%;
    padding: 1%;
    padding-left:2%;
    border-bottom: 1px solid var(--background-dark);
    color: #ffffff;
    text-decoration: none;
}
.nav__link{
    margin-right: 5px;
}
.nav__link:hover{
   border-bottom: 1px solid gray;
}

