.main{
    display: flex;
    height: 9%;
}

.image-wrapper{
    width: 140px;
    height: 140px;

    border-radius: 30% 70% 70% 30% / 30% 38% 62% 70% ;
    border: 1px solid white;

    margin: 3%;
    padding: 2%;
}

.image-wrapper img{
    width: 90%;
}

.fields{
    display: flex;
    flex-direction: column;
}
.image-wrapper{

    width: 200px;
    height: 200px;

    border-radius: 30% 70% 70% 30% / 30% 38% 62% 70% ;
    border: 1px solid white;

}
.tarjeta-libro{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    border-radius: 10px;

    border-color: rgb(58, 58, 58);

    padding: 2%;
    /* padding-left: 2%; */

    width: 500px;
    height: 500px;
}
.eliminar-wrapper{
    display: flex;
    justify-content: flex-end;

    width: 90%;
}.eliminar{
    display: flex;
    justify-content: center;
    align-items: center;

    border : 1px solid white;
    border-radius: 50%;

    width: 30px;
    height: 30px;

    padding: 5%;
}
.eliminar:active{
    transform: scale(0.8)
}
.book-data{
    display: flex;
    flex-direction: row;

    gap: 5%;
 
    padding-left: 2%;

    /* border: 1px solid green; */
}