.footer{
    display:flex;
    justify-content: space-around;
    align-items: center;

    padding: 2%;

    width: 100%;
    height: 45px;

    color: white;

    background: var(--background-dark);
    position: fixed;
    bottom: 0;
}

a:hover {
    border-bottom: 1px solid white;
}