:root {
  --background-dark: #39393938;
  --background-dark-secondary: rgb(93, 98, 99);
  --header-height: 10vh;
  --footer-height: 5vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  width: 100vw;
  height: calc(100vh - var(--footer-height) - var(--header-height) - 5vh);

  margin-top: calc(var(--header-height));

  overflow: scroll;
}

body {
  background: url(assets/img/background.jpg);
  background-size: cover;

  color: white;
}
input,
button {
  background: transparent;

  border: none;
  border: 1px solid #ffffff;
  border-radius: 30px 15px 40px 40px;

  padding: 5%;
  margin-bottom: 10px;

  color: antiquewhite;
  outline: none;
}

input {
  padding-left: 10%;
}

button {
  margin-top: 10%;
  border-radius: 15px 7px 25px 15px;
  padding: 5%;
  transition: all 0.5s, background-color 1s;
}
button:active {
  transform: scale(0.9);
}
button:hover{
  background-color: #ffffff;
  color: black;
}

.card {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 400px;
  /* height: 95%; */

  padding: 2%;

  border: 1px solid white;
  border-radius: 10px;

  backdrop-filter: blur(15px);
}
