:root{
    --background-dark: #414141;
    --background-dark-secondary: rgb(93, 98, 99);
    --header-height: 10vh;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
input, button{
    background: transparent;

    border:none;
    border: 1px solid #ffffff;
    border-radius: 30px 15px 40px 40px;

    padding: 5%;
    margin-bottom: 10px;

    color: antiquewhite;
    outline: none;

}

input{
    padding-left: 10%;

}