:root{
    --background-dark: #414141;
    --background-dark-secondary: rgb(93, 98, 99);
    --header-height: 100px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
input, button{
    background: transparent;
    border:none;
    border-bottom: 1px solid gray;
    border-radius: 10px 0px 10px 0px;
    padding: 5%;
    color: antiquewhite;
    outline: none;

}