<main class="card">
    <form class="form">
        <input type="text" placeholder="ID Libro">
        <input type="text" placeholder="ID Usuario">
        <input type="text" placeholder="Título">
        <input type="text" placeholder="Tipo de libro">
        <input type="text" placeholder="Autor">
        <input type="text" placeholder="Precio">
        <input type="text" placeholder="Foto">

        <div class="buttons">
            <button type="button">Crear libro</button>
            <button type="reset">Cancelar</button>
        </div>
    </form>
</main>