.main{
    /* height: 100%; */
}
.form{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.form .buttons{
    display: flex;
    justify-content: space-between;

    width: 100%;
}
